{% extends 'base.html.twig' %}

{% block title %}Ejercicio 2 Curso Symfony 4.4{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 100%; font: 20px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ejercicio 2 Curso Symfony 4.4</h1>

    Resolver:
    <ul>
        <li>Punto 3</li>
        <li>a. Imprimir 20 veces un contenedor div que dentro tenga un título, el título
debe imprimirse en mayúscula usando algún filtro de twig.
<code><a href="{{ path('ejercicio2_puntoa') }}">Punto a</a></code></li>
        <li>b. Imprimir un contenedor div si una variable dada (puede ser llamada
como ustedes quieren) es igual a un valor dado. <code><a href="{{ path('ejercicio2_puntob',{'var':1}) }}">Punto b</a></code></li>
    </ul>
</div>
{% endblock %}
